extends ../layouts/default
//- Use the Companion Site Default Template

block content

	if !data.custom_data.is_custom
		article.container-fluid.home-hero
			.hero-background-overlay
			.hero-background(style= data.home.hero.background ? "background-image: url(" + data.home.hero.background.url+");" : "")
			.row

				.col-xs-12
					h2.hero-header= data.home.hero.business_count
					.hero-box-shadow
					p.hero-subtext
						span Businesses powered by
						img(src="/images/logo.png")

					if data.home.hero.video.video_choice
						a.hero-video-cta(data-toggle="modal" data-target="#video_modal" data-video-data=data.home.hero.video).video-link.pi-video
							span SEE WHY
							img(src="/icons/png/icon-play.png").hero-video-icon
	else
		article.container-fluid.home-hero
			.hero-background-overlay
			.hero-background(style= data.home.hero.background ? "background-image: url(" + data.home.hero.background.url+");" : "")
			.row
				.col-xs-12
					h2.hero-header.hero-custom-name #{data.home.hero.greeting} #{data.custom_data.name.first},
					p.hero-subtext-custom
						span Thank you for your interest 
						span in Cox Business Solutions
					.hero-content
						| We look forward to hearing from you.
						if data.custom_data.has_favorites
							| Here are your solutions.

					a.hero-reset(href="/" title="Reset Personalization").pi-switch (not #{data.custom_data.name.first}?)
	//- Generic Home Page
	if !data.custom_data.has_favorites

		article.container-fluid.home-content
			span.background-shadow.from-right

			.container
				.row.header-space-home
				.row
					.col-xs-12.col-md-5.home-default-content
						h1.cox-business COX
							strong BUSINESS				
						p.section-heading= data.home.default_heading
						p.section-content= data.home.default_content
					.col-xs-12.col-md-7
						+mediaBuffet(data.home.media_buffet)

		article.container-fluid.home-industries

			.container
				.row
					.col-xs-12
						h3.home-content-header INDUSTRIES
				ul.industries-list.row
					each item, index in global_data.industries
						li.col-xs-6.col-md-2
							span.industry-divider
							a(href='/industries/'+item.slug title=item.title).industry-tile.pi-industry
								.industry-icon.coxicon(class="coxicon_"+item.svg_icon)
								.industry-home-title
									span= item.title


		article.container-fluid.home-services
			span.background-shadow.from-right

			.container
				.row
					.col-xs-12
						h3 SERVICES
				+service-list(global_data.services)

				.row
					.col-xs-12
						h3.home-lets-connect-label LET'S CONNECT
				.row
					.col-xs-12.home-connect(style= data.home.connect_background ? "background-image: url(" + data.home.connect_background.url + ");" : "")
						.col-xs-12.col-md-offset-7.col-md-5.home-connect-form
							if enquirySubmitted
								h3.connect-thanks Thanks for your interest. We'll be in touch!
							else
								p Tell us about yourself
								form(method='post')
									input(type='hidden', name='action', value='home-connect')
									input(type="hidden" name='showname' value='Companion Site').connect-showname
									
									.form-group(class=validationErrors.name ? 'has-error' : null)
										label.sr-only Full Name
										input(type='text', name='name.full', value=formData['name.full'] placeholder="Full Name").form-control

									.form-group(class=validationErrors.email ? 'has-error' : null)
										label.sr-only Email
										input(type='email', name='email', value=formData.email placeholder="Email").form-control

									.form-group(class=validationErrors.zipcode ? 'has-error' : null)
										label.sr-only Zip Code
										input(type='text', name='zipcode', value=formData.zipcode, placeholder='Zip Code').form-control
									
									.form-group
										label.sr-only Company Population
										.dropdown.custom-dropdown.dropdown-select.connect-dropdown
											button(type="button" id="map_overlay_dropdown" data-toggle="dropdown" aria-expanded="true").btn.btn-default.dropdown-toggle
												.icon-arrow
													img(src="/images/arrow_down.png")
												span.custom-dropdown-current.dropdown-select-current
													.current-default Company Size 
														em (select)
											ul.dropdown-menu(role="menu" aria-labelledby="dropdwonMenu1")
												each key, index in Object.keys(company_population)
													- var type = company_population[key]
													li(role="presentation")
														a(role="menuitem" data-value=type.value data-label=type.label tabindex="-1").dropdown-select-item= type.label
										select(name='company_population').form-control.sr-only
											option(value='') Company Size (select)
											each type in company_population
												option(value=type.value, selected=formData.company_population == type.value)= type.label
									
									.form-group
										label.sr-only Current Cox Business Customer
										.input-checkbox-group(data-checkbox-input="connect-form-checkbox_1")
											.input-checkbox
												img(src="/icons/png/icon-check.png")
											.input-checkbox-value(data-checkbox-value="connect-form-checkbox-value")
										input#connect-form-checkbox_1.sr-only(type='checkbox', name='is_customer' value="Yes" data-checkbox-value="Current Cox Business Customer")
									
									.form-actions
										button(type='submit').btn.btn-primary SUBMIT
	else
		article.container-fluid.home-content
			.visible-xs.visible-sm
				span.background-shadow.from-right.lighter
			.visible-md.visible-lg
				span.background-shadow.from-right

			.container
				.row.header-space-home
				if data.custom_data.favorites.industries
					each industry, index in data.industries
						article.row.industry-row
							unless index == 0
								.col-xs-12.industry-divider: hr
							.col-xs-12.col-md-5.home-industry-content
								+industryContent(industry, false)
							.col-xs-12.col-md-7
								+mediaBuffet(industry.media_buffet)
				if data.custom_data.favorites.services
					.row
						.col-xs-12
							h3.home-content-header SERVICES
					each service in data.services
						.col-xs-12
							section.row.service-row
								.col-xs-12.col-md-6
									+serviceContent(service)
								.col-xs-12.col-md-6.resources-container-home-services
									+resources(service)

		if data.products

			article.container-fluid.container-fluid-products-navigation
				.visible-xs.visible-sm
					span.background-shadow.from-right.lighter.to-foreground
				.visible-md.visible-lg
					span.background-shadow.from-right.to-foreground

				.container

					.row
						.col-xs-12.products-md.home-products-navigation

							.col-xs-6.col-md-4.col-lg-3.product-navigation-title-container
								article.product-navigation-title
									span PRODUCTS
							each product, index in data.products
								if index == 0
									.col-xs-6.col-md-4.col-lg-3.product-navigation-item-container.pi-products(data-navigationitem=product.id).active
										article.product-navigation-item
											span= product.title
								else
									.col-xs-6.col-md-4.col-lg-3.product-navigation-item-container.pi-products(data-navigationitem=product.id)
										article.product-navigation-item
											span= product.title

						.col-xs-12.products-xs

							.col-xs-6.col-md-4.col-lg-3.product-navigation-title-container
								article.product-navigation-title
									span PRODUCTS
							if data.products.length == 2
								.col-xs-6.col-md-4.col-lg-3.product-navigation-title-container
									article.product-navigation-title
							each product, index in data.products
								.col-xs-6.col-md-4.col-lg-3.product-navigation-item-link-container(data-navigationitem=product.id)
									a(href="/products/#{product.slug}").product-navigation-item.pi-products
										span= product.title


			article.container-fluid.container-fluid-products.products-md
				.visible-xs.visible-sm
					span.background-shadow.from-right.lighter
				.visible-md.visible-lg
					span.background-shadow.from-right
				span.product-gradient.product-gradient-companion-services: span
				.container
					
					.row
						each item, index in data.products
							if index == 0
								.col-xs-12.product-container(data-item=item.id).active
									+product(item)
							else
								.col-xs-12.product-container(data-item=item.id)
									+product(item)




