extends ../layouts/default
//- Use the Companion Site Default Template

block content

	- var isPersonal = false

	if data.custom_data
		- isPersonal = true

		//- Personal Info
		- var firstName = data.custom_data.name.first
		- var lastName = data.custom_data.name.last
		- var eventName = data.custom_data.eventName

		//- Chosen Industry Slugs and Empty Array
		- var customIndustries = data.custom_data.favorites.industries
		- var personalizedIndustries = [];

		//- Chosen Service Slugs and Empty Array
		- var customServices = data.custom_data.favorites.services
		- var personalizedServices = [];

		//- Chosen Product Slugs and Empty Array, and Complete Product Selection Array
		- var customProducts = data.custom_data.favorites.products
		- var personalizedProducts = [];
		- var selectedProducts = [];

		//- How about a little array building like in beginner's programming?

		//- Setup the Custom Industries and Services
		each industry in data.navigation_industries
			each customIndustry in customIndustries
				if industry.slug == customIndustry
					- personalizedIndustries.push(industry)
		each service in data.navigation_services
			each customService in customServices
				if service.slug == customService
					- personalizedServices.push(service)
		each product in data.products
			each customProduct in customProducts
				if product.slug == customProduct
					- personalizedProducts.push(product)

		//- Go ahead and add the chosen Products
		each product in personalizedProducts
			- selectedProducts.push(product)
		
		//- Gather all products in selected industries in services, including duplicates.
		each product in data.products
			each product_industry in product.industries
				each industry in personalizedIndustries
					if industry.id == product_industry
						- selectedProducts.push(product)
			each product_service in product.services
				each service in personalizedServices
					if service.id == product_service
						- selectedProducts.push(product)

		//- Now remove the duplicates
		- var tempProducts = selectedProducts
		each product, p_index in selectedProducts
			- var productCount = 0
			each tempProduct, t_index in tempProducts
				if product && tempProduct
					if product.id == tempProduct.id
						- productCount++
						if productCount > 1
							- selectedProducts.splice(p_index, 1)
			
	if !isPersonal
		article.container-fluid.home-hero
			.hero-background-overlay
			.hero-background(style= data.home.hero.background ? "background-image: url(" + data.home.hero.background.url+");" : "")
			.row

				.col-xs-12
					h2.hero-header= data.home.hero.business_count
					.hero-box-shadow
					p.hero-subtext
						span Businesses powered by
						img(src="/images/logo.png")

					if data.home.hero.video

					a.hero-video-cta(data-video="video-link").video-link
						span SEE WHY
						img(src="/icons/png/icon-play.png").hero-video-icon


		article.container-fluid.home-content
			span.background-shadow.from-right

			.container
				.row.header-space-home
				.row
					.col-xs-12.col-md-5
						h1.cox-business COX
							strong BUSINESS				
						p.section-heading= data.home.default_heading
						p.section-content= data.home.default_content
					.col-xs-12.col-md-7
						+mediaBuffet(data.home.media_buffet)

		article.container-fluid.home-industries

			.container
				.row
					.col-xs-12
						h3 INDUSTRIES
				ul.industries-list.row
					each item, index in data.navigation_industries
						li.col-xs-6.col-md-2
							span.industry-divider
							a(href='/industries/'+item.slug title=item.title).industry-tile
								.industry-icon.coxicon(class="coxicon_"+item.svg_icon)
								.industry-home-title
									span= item.title


		article.container-fluid.home-services
			span.background-shadow.from-right

			.container
				.row
					.col-xs-12
						h3 SERVICES
				+service-list(data.navigation_services)

				.row
					.col-xs-12
						h3 LET'S CONNECT
				.row
					.col-xs-12.home-connect(style= data.home.connect_background ? "background-image: url(" + data.home.connect_background.url + ");" : "")
						.col-xs-12.col-md-offset-7.col-md-5.home-connect-form
							p Tell us about yourself
							form
								.form-group
									label.sr-only(for="firstName") First Name
									input.form-control#firstName(type="text" placeholder="First")
								.form-group
									label.sr-only(for="lastName") Last Name
									input.form-control#lastName(type="text" placeholder="Last")
								.home-connect-background-shadow
								.form-group
									label.sr-only(for="email") Email
									input.form-control#email(type="email" placeholder="Email")
								.form-group
									label.sr-only(for="zipcode") Zip Code
									input.form-control#zipcode(type="number" placeholder="Zip Code")
								button.btn.btn-default(type="submit") Submit



	else
		//- /////////////////
		//- Personalized Home
		//- /////////////////
		article.container-fluid.home-hero
			.hero-background-overlay
			.hero-background(style= data.home.hero.background ? "background-image: url(" + data.home.hero.background.url+");" : "")
			.row
				.col-xs-12
					h2.hero-header.hero-custom-name HI #{firstName},
					p.hero-subtext-custom
						span Thanks for visiting us at
						span= eventName
					.hero-content!=data.home.hero.content

					a.hero-reset(href="/" title="Reset Personalization") (not #{firstName}?)



		article.container-fluid.home-content
			//- span.background-shadow.from-right

			.container
				.row.header-space-home
				if personalizedIndustries
					each industry, index in personalizedIndustries
						article.row.industry-row
							unless index == 0
								.col-xs-12.industry-divider: hr
							.col-xs-12.col-md-5.home-industry-content
								+industryContent(industry)
							.col-xs-12.col-md-7
								+mediaBuffet(industry.media_buffet)

				else
					h1 No Industries!

				if personalizedServices

					.row
						.col-xs-12
							h3 SERVICES
					each service in personalizedServices
						.col-xs-12
							section.row.service-row
								.col-xs-12.col-md-6
									+serviceContent(service)
								.col-xs-12.col-md-6
									+resources(service)

				else
					h1 No Services!

		if personalizedIndustries || personalizedServices


			if selectedProducts


				article.container-fluid.container-fluid-products-navigation
					//- span.background-shadow.from-right

					.container

						.row
							.col-xs-12.products-md

								.col-xs-6.col-md-4.col-lg-3.product-navigation-title-container
									article.product-navigation-title
										span PRODUCTS
								each product, index in selectedProducts
									if index == 0
										.col-xs-6.col-md-4.col-lg-3.product-navigation-item-container(data-navigationitem=product.id).active
											article.product-navigation-item
												span= product.title
									else
										.col-xs-6.col-md-4.col-lg-3.product-navigation-item-container(data-navigationitem=product.id)
											article.product-navigation-item
												span= product.title

							.col-xs-12.products-xs

								.col-xs-6.col-md-4.col-lg-3.product-navigation-title-container
									article.product-navigation-title
										span PRODUCTS
								if selectedProducts.length == 2
									.col-xs-6.col-md-4.col-lg-3.product-navigation-title-container
										article.product-navigation-title
								each product, index in selectedProducts
									.col-xs-6.col-md-4.col-lg-3.product-navigation-item-link-container(data-navigationitem=product.id)
										a(href="/products/#{product.slug}").product-navigation-item
											span= product.title


				article.container-fluid.container-fluid-products.products-md
					//- span.background-shadow.from-right
					span.product-gradient.product-gradient-companion-services: span
					.container
						
						.row
							each item, index in selectedProducts
								if index == 0
									.col-xs-12.product-container(data-item=item.id).active
										+product(item)
								else
									.col-xs-12.product-container(data-item=item.id)
										+product(item)




