extends ../layouts/default
//- Use the Companion Site Default Template

block content

	article.container-fluid
		//- span.background-shadow.from-right

		.container
			.row.header-space
			if data.industry
				article.row.industry-page-content
					.col-xs-12.col-md-5
						+industryContent(data.industry)
					.col-xs-12.col-md-7
						+mediaBuffet(data.industry.media_buffet)
			.resources-container-products
				.row
					.col-xs-12
						h3 RESOURCES
				.row
					.col-xs-12.col-md-6
						a(href=data.industry.resource_one.resource_link download=data.industry.resource_one.resource_link target="_blank" title=data.industry.resource_one.title).resource-download
							.resource-icon.coxicon(class="coxicon_"+data.industry.resource_one.svg_icon)
							.resource-icon-divider: span
							.resource-info
								p.resource-title=data.industry.resource_one.title
								p.resource-description=data.industry.resource_one.description
					.col-xs-12.col-md-6
						a(href=data.industry.resource_two.resource_link download=data.industry.resource_two.resource_link target="_blank" title=data.industry.resource_two.title).resource-download
							.resource-icon.coxicon(class="coxicon_"+data.industry.resource_two.svg_icon)
							.resource-icon-divider: span
							.resource-info
								p.resource-title=data.industry.resource_two.title
								p.resource-description=data.industry.resource_two.description
					.col-xs-12.col-md-6
						a(href=data.industry.resource_three.resource_link download=data.industry.resource_three.resource_link target="_blank" title=data.industry.resource_three.title).resource-download
							.resource-icon.coxicon(class="coxicon_"+data.industry.resource_three.svg_icon)
							.resource-icon-divider: span
							.resource-info
								p.resource-title=data.industry.resource_three.title
								p.resource-description=data.industry.resource_three.description
					if data.industry.resource_four
						.col-xs-12.col-md-6
							a(href=data.industry.resource_four.resource_link download=data.industry.resource_four.resource_link target="_blank" title=data.industry.resource_four.title).resource-download
								.resource-icon.coxicon(class="coxicon_"+data.industry.resource_four.svg_icon)
								.resource-icon-divider: span
								.resource-info
									p.resource-title=data.industry.resource_four.title
									p.resource-description=data.industry.resource_four.description
	article.container-fluid.container-fluid-services-navigation
		.container
			.row
				.col-xs-12
					h3 SERVICES
			+service-list(data.navigation_services)