extends ../layouts/default
//- Use the Companion Site Default Template

block content

	article.container-fluid.the-looking-glass
		span.background-shadow.from-right.lighter
		.container
			if !data.product
				h2 No Products!
			else
				if data.referer
					.row
						.col-xs-12
							h4: a(href=data.referer.link).referer-link Back to 
								span= data.referer.parent 
								|  > 
								span= data.referer.slug 
								if data.referer.category != '' && data.referer.category
									|  > 
									span= data.referer.category

				.row
					.col-xs-12
						h1.product-page-title= data.product.title

	article.container-fluid.the-looking-glass.container-fluid-products.container-fluid-products-view
		span.background-shadow.from-right.lighter
		.container
			if !data.product
				h2 No Products!
			else
				.row
					span.product-gradient.product-gradient-companion: span
					.col-xs-12
						section.product-hero-container
							img(src="/uploads/images/#{data.product.hero.filename}" alt="product-hero-image")
						section.product-item-container
							.product-showroom-scroll
							.col-md-6.col-lg-4
								.col-xs-12
									img(src="/uploads/images/#{data.product.item_one.icon.filename}" alt="icon here").product-item-icon
								.col-xs-12
									p.section-heading= data.product.item_one.title
									p.section-content= data.product.item_one.content
							.col-md-6.col-lg-4
								.col-xs-12
									img(src="/uploads/images/#{data.product.item_two.icon.filename}" alt="icon here").product-item-icon
								.col-xs-12
									p.section-heading= data.product.item_two.title
									p.section-content= data.product.item_two.content
							.col-md-6.col-lg-4
								.col-xs-12
									img(src="/uploads/images/#{data.product.item_three.icon.filename}" alt="icon here").product-item-icon
								.col-xs-12
									p.section-heading= data.product.item_three.title
									p.section-content= data.product.item_three.content
							.col-md-6.col-lg-4
								.col-xs-12
									img(src="/uploads/images/#{data.product.item_four.icon.filename}" alt="icon here").product-item-icon
								.col-xs-12
									p.section-heading= data.product.item_four.title
									p.section-content= data.product.item_four.content
							.col-md-6.col-lg-4
								.col-xs-12
									img(src="/uploads/images/#{data.product.item_five.icon.filename}" alt="icon here").product-item-icon
								.col-xs-12
									p.section-heading= data.product.item_five.title
									p.section-content= data.product.item_five.content
							.col-md-6.col-lg-4
								.col-xs-12
									img(src="/uploads/images/#{data.product.item_six.icon.filename}" alt="icon here").product-item-icon
								.col-xs-12
									p.section-heading= data.product.item_six.title
									p.section-content= data.product.item_six.content

				.row
					.col-xs-12.resource-container.resource-container-products-view
						h3.resource-header RESOURCES
						.col-xs-12.resource-subcontainer
							a(href=data.product.resource_one.resource_link download=data.product.resource_one.resource_link target="_blank" title=data.product.resource_one.title).resource-download
								.resource-icon
									img(src="/uploads/images/#{data.product.resource_one.icon.filename}" alt="resource-icon")
								.resource-info
									p.resource-title=data.product.resource_one.title
									p.resource-description=data.product.resource_one.description
							a(href=data.product.resource_two.resource_link download=data.product.resource_two.resource_link target="_blank" title=data.product.resource_two.title).resource-download
								.resource-icon
									img(src="/uploads/images/#{data.product.resource_two.icon.filename}" alt="resource-icon")
								.resource-info
									p.resource-title=data.product.resource_two.title
									p.resource-description=data.product.resource_two.description
							a(href=data.product.resource_three.resource_link download=data.product.resource_three.resource_link target="_blank" title=data.product.resource_three.title).resource-download
								.resource-icon
									img(src="/uploads/images/#{data.product.resource_three.icon.filename}" alt="resource-icon")
								.resource-info
									p.resource-title=data.product.resource_three.title
									p.resource-description=data.product.resource_three.description
							a(href=data.product.resource_four.resource_link download=data.product.resource_four.resource_link target="_blank" title=data.product.resource_four.title).resource-download
								.resource-icon
									img(src="/uploads/images/#{data.product.resource_four.icon.filename}" alt="resource-icon")
								.resource-info
									p.resource-title=data.product.resource_four.title
									p.resource-description=data.product.resource_four.description