mixin industryContent(industry)
	h1.industry-title= industry.title
	ul.industry-attributes
		li #{industry.attribute_one} |
		li #{industry.attribute_two} |
		li #{industry.attribute_three}
	p.section-heading= industry.heading
	p.section-content= industry.content