mixin industryContent(industry, isShowroom)
	if isShowroom
		h1.industry-title.can-favorite.solution-page-title(data-solutions-slug=industry.slug data-solutions-type='industries')= industry.title
			.coxicon.coxicon_favorites_star_after
	else
		h1.industry-title= industry.title
	ul.industry-attributes
		li #{industry.attribute_one} 
		if industry.attribute_two && industry.attribute_two != ''
			li  | #{industry.attribute_two}
		if industry.attribute_three && industry.attribute_three != ''
			li  | #{industry.attribute_three}
	p.section-heading= industry.heading
	p.section-content= industry.content