mixin mediaBuffet(media_buffet)
	section.media-buffet
		.media-buffet-column-left
			.media-buffet-top-block
				if assetURI(media_buffet.media_section_one.thumbnail.url)
					.media-tile-top-left
						- var media_section_one_thumbnail = assetURI(media_buffet.media_section_one.thumbnail.url) ? "background-image: url(" +assetURI(media_buffet.media_section_one.thumbnail.url)+");" : ""

						if media_buffet.media_section_one.type == 'Video' && assetURI(media_buffet.media_section_one.video.video.url)
							a(data-toggle="modal" data-target="#video_modal" data-title=media_buffet.media_section_one.title data-video-data=assetData(media_buffet.media_section_one.video)     style=media_section_one_thumbnail).video-link.pi-video
								img(src="/icons/png/icon-play.png")

						else if media_buffet.media_section_one.type == 'Image' && assetURI(media_buffet.media_section_one.image.url)
							a(data-toggle="modal" data-target="#image_modal" data-title=media_buffet.media_section_one.title data-image-data=assetURI(media_buffet.media_section_one.image.url) style=media_section_one_thumbnail).image-link.pi-image
								img(src="/icons/png/icon-plus.png")

						else if media_buffet.media_section_one.type == 'Story' && assetURI(media_buffet.media_section_one.story.featured_image.url)
							a(data-toggle="modal" data-target="#story_modal" data-title=media_buffet.media_section_one.title data-story-data=assetData(media_buffet.media_section_one.story)     style=media_section_one_thumbnail).story-link.pi-success-story
								img(src="/icons/png/icon-plus.png")
						else
							a(style=media_section_one_thumbnail).remove-pointer
						h4.media-title!=media_buffet.media_section_one.title
						.media-buffet-gradient

			.media-buffet-bottom-block
				.values
					!= media_buffet.values.content
					h4.media-title!=media_buffet.values.title

		.media-buffet-column-right
			.media-buffet-top-block
				.facts(style= assetURI(media_buffet.facts.featured_image.url) ? "background-image: url(" +assetURI(media_buffet.facts.featured_image.url)+");" : "")

			.media-buffet-bottom-block
				if assetURI(media_buffet.media_section_two.thumbnail.url)
					.media-tile-bottom-right
						- var media_section_two_thumbnail = assetURI(media_buffet.media_section_two.thumbnail.url) ? "background-image: url(" +assetURI(media_buffet.media_section_two.thumbnail.url)+");" : ""

						if media_buffet.media_section_two.type == 'Video' && assetURI(media_buffet.media_section_two.video.video.url)
							a(data-toggle="modal" data-target="#video_modal" data-title=media_buffet.media_section_two.title data-video-data=assetData(media_buffet.media_section_two.video)     style=media_section_two_thumbnail).video-link.pi-video
								img(src="/icons/png/icon-play.png")

						else if media_buffet.media_section_two.type == 'Image' && assetURI(media_buffet.media_section_two.image.url)
							a(data-toggle="modal" data-target="#image_modal" data-title=media_buffet.media_section_two.title data-image-data=assetURI(media_buffet.media_section_two.image.url) style=media_section_two_thumbnail).image-link.pi-image
								img(src="/icons/png/icon-plus.png")

						else if media_buffet.media_section_two.type == 'Story' && assetURI(media_buffet.media_section_two.story.featured_image.url)
							a(data-toggle="modal" data-target="#story_modal" data-title=media_buffet.media_section_two.title data-story-data=assetData(media_buffet.media_section_two.story)     style=media_section_two_thumbnail).story-link.pi-success-story
								img(src="/icons/png/icon-plus.png")
						else
							a(style=media_section_two_thumbnail).remove-pointer
						h4.media-title!=media_buffet.media_section_two.title
						.media-buffet-gradient
