mixin tile(tile, key)

	//- Inits
	- var generatedLink
	- var firstIndustry;

	//- This section creates the link for the tile

	//- Services Link
	if key == 'services'

		//- Finds the first industry of a given service
		each industry in data.navigation_industries
			if industry.id == tile.industries[0]
				- firstIndustry = industry.slug
		- generatedLink = '/'+key+'/' + tile.slug + '/' + firstIndustry

	//- Industries Link
	if key == 'industries'
		- generatedLink = '/'+key+'/' + tile.slug

	//- The Generated Tile
	a(href=generatedLink alt=tile.title).navigation-modal-tile
		.tile-icon
			img(src="/uploads/images/#{tile.icon.filename}" alt=tile.title + " icon")
		.tile-title
			span= tile.title

mixin tiles(tiles, key)

	//- The Tiles
	.navigation-modal-tiles(data-navigation-modal=key)

		//- Single Row of Tiles
		if tiles.length < 3
			.row.navigation-modal-tile-row
				each tile, index in tiles
					+tile(tile, key)

		//- After 2nd Tile go to second row and create a fake tile
		if tiles.length == 3 || tiles.length == 4
			.row.navigation-modal-tile-row
				each tile, index in tiles
					+tile(tile, key)
					if index == 1
						br
						a.navigation-modal-tile.fake-tile

		//- After 3rd Tile go to second row and create a fake tile
		if tiles.length > 4
			.row.navigation-modal-tile-row
				each tile, index in tiles
					+tile(tile, key)
					if index == 2
						br
						a.navigation-modal-tile.fake-tile