mixin tile(tile, key)

	a(href=linkURI('/'+key+'/' + tile.slug) title=tile.title data-tile-id=tile.id).navigation-modal-tile
		.tile-icon.coxicon(class="coxicon_"+tile.svg_icon)
		.tile-title
			span= tile.title

mixin tiles-showroom(tiles, key)

	//- The Tiles
	.navigation-modal-tiles(data-navigation-modal=key)
		//- After 2nd Tile go to second row and create a fake tile
		if tiles.length < 3
			.row.navigation-modal-tile-row
				each tile, index in tiles
					if index == 0
						a.navigation-modal-tile.fake-tile
						span.go-left
							+tile(tile, key)
					if index == 1
						span.go-right
							+tile(tile, key)
							br
							a.navigation-modal-tile.fake-tile

		if tiles.length == 3
			.row.navigation-modal-tile-row
				each tile, index in tiles
					if index > 1
						span.go-right
							+tile(tile, key)
					else
						if index == 0
							a.navigation-modal-tile.fake-tile
						span.go-left
							+tile(tile, key)
						if index == 1
							a.navigation-modal-tile.fake-tile
							br
							a.navigation-modal-tile.fake-tile
							a.navigation-modal-tile.fake-tile

		if tiles.length == 4
			.row.navigation-modal-tile-row
				each tile, index in tiles
					if index > 1
						span.go-right
							+tile(tile, key)
					else
						if index == 0
							a.navigation-modal-tile.fake-tile
						span.go-left
							+tile(tile, key)
						if index == 1
							a.navigation-modal-tile.fake-tile
							br
							a.navigation-modal-tile.fake-tile
							a.navigation-modal-tile.fake-tile

		//- After 3rd Tile go to second row and create a fake tile
		if tiles.length > 4 && tiles.length < 7
			.row.navigation-modal-tile-row
				each tile, index in tiles
					if index > 2
						span.go-right
							+tile(tile, key)
					else
						span.go-left
							+tile(tile, key)
						if index == 2
							a.navigation-modal-tile.fake-tile
							a.navigation-modal-tile.fake-tile
							br
							a.navigation-modal-tile.fake-tile
							a.navigation-modal-tile.fake-tile
							
		//- After 3rd Tile go to second row and create a fake tile
		if tiles.length == 7
			.row.navigation-modal-tile-row.seventiles
				each tile, index in tiles
					if index == 0 || index == 5
						a.navigation-modal-tile.fake-tile
						span.go-left
							+tile(tile, key)
					else if index == 2
						a.navigation-modal-tile.fake-tile.awkward-tile-left
						span.go-left
							+tile(tile, key)
					else if index == 1 || index == 6
						span.go-left
							+tile(tile, key)
						a.navigation-modal-tile.fake-tile
						a.navigation-modal-tile.fake-tile
					else if index == 3
						span.go-left
							+tile(tile, key)
					else if index == 4
						span.go-left
							+tile(tile, key)
						a.navigation-modal-tile.fake-tile

		if tiles.length > 7 
			.row.navigation-modal-tile-row.seventiles
				each tile, index in tiles
					if index == 0
						a.navigation-modal-tile.fake-tile.awkward-tile-left
						span.go-left
							+tile(tile, key)
					else if index == 3
						span.go-left
							+tile(tile, key)
						br
						a.navigation-modal-tile.fake-tile.awkward-tile-left
					else
						span.go-left
							+tile(tile, key)

mixin tiles-companion(tiles, key)

	//- The Tiles
	.navigation-modal-tiles.tiles-companion(data-navigation-modal=key)
		.tiles-companion-subcontainer

			//- Single Row of Tiles
			if tiles.length < 3
				.row.navigation-modal-tile-row
					each tile, index in tiles
						if index == 0
							span.go-right
								+tile(tile, key)
						else
							span.go-left
								+tile(tile, key)
							if index == 1
								a.navigation-modal-tile.fake-tile
								br
								a.navigation-modal-tile.fake-tile
			//- After 2nd Tile go to second row and create a fake tile
			if tiles.length == 3
				.row.navigation-modal-tile-row
					each tile, index in tiles
						if index > 1
							span.go-right
								+tile(tile, key)
						else
							span.go-left
								+tile(tile, key)
							if index == 1
								a.navigation-modal-tile.fake-tile
								br

			if tiles.length == 4
				.row.navigation-modal-tile-row
					each tile, index in tiles
						if index > 1
							span.go-right
								+tile(tile, key)
						else
							span.go-left
								+tile(tile, key)
							if index == 1
								a.navigation-modal-tile.fake-tile
								br
								a.navigation-modal-tile.fake-tile

			//- After 3rd Tile go to second row and create a fake tile
			if tiles.length > 4 && tiles.length < 7
				.row.navigation-modal-tile-row
					each tile, index in tiles
						if index > 2
							span.go-right
								+tile(tile, key)
						else
							span.go-left
								+tile(tile, key)
							if index == 2
								a.navigation-modal-tile.fake-tile
								a.navigation-modal-tile.fake-tile
								br
								a.navigation-modal-tile.fake-tile
								a.navigation-modal-tile.fake-tile

			if tiles.length == 7
				.row.navigation-modal-tile-row
					each tile, index in tiles
						if index == 0
							a.navigation-modal-tile.fake-tile
							span.go-left
								+tile(tile, key)
						else if index == 2
							span.go-left
								+tile(tile, key)
							br
						else if index == 3
							a.navigation-modal-tile.fake-tile
							span.go-left
								+tile(tile, key)
						else
							span.go-left
								+tile(tile, key)
								
			if tiles.length == 8
				.row.navigation-modal-tile-row
					each tile, index in tiles
						if index == 0 || index == 4 
							a.navigation-modal-tile.fake-tile
							span.go-right
								+tile(tile, key)
						else if index == 3 || index == 7 
							span.go-right
								+tile(tile, key)
							a.navigation-modal-tile.fake-tile
							br
						else
							span.go-left
								+tile(tile, key)
