mixin partnerBuffet(partner_buffet)
	section.media-buffet
		.media-buffet-column-left
			.media-buffet-top-block
				.bigPic
					a(data-toggle="modal" data-target="#image_modal" data-image-data=assetData(partner_buffet.bigPic) style= assetURI(partner_buffet.bigPic.featured_image.url) ? "background-image: url(" + assetURI(partner_buffet.bigPic.featured_image.url)+");" : "").image-link.pi-image
						img(src="/icons/png/icon-plus.png")
						h4.media-title!=partner_buffet.bigPic.title
					.media-buffet-gradient
			.media-buffet-bottom-block
				.values
					!= partner_buffet.values.content
					h4.media-title!=partner_buffet.values.title

		.media-buffet-column-right
			.media-buffet-top-block
				.facts(style= assetURI(partner_buffet.facts.featured_image.url) ? "background-image: url(" +assetURI(partner_buffet.facts.featured_image.url)+");" : "")
			.media-buffet-bottom-block
				if partner_buffet.story.modal_choice
					.story
						a(data-toggle="modal" data-target="#image_modal" data-image-data=assetData(partner_buffet.story) style= assetURI(partner_buffet.story.featured_image.url) ? "background-image: url(" + assetURI(partner_buffet.story.featured_image.url)+");" : "").image-link.pi-image
							img(src="/icons/png/icon-plus.png")
							h4.media-title!=partner_buffet.story.title
						.media-buffet-gradient
				else
					.story
						a(data-toggle="modal" data-target="#story_modal" data-story-data=assetData(partner_buffet.story) style= assetURI(partner_buffet.story.featured_image.url) ? "background-image: url(" + assetURI(partner_buffet.story.featured_image.url)+");" : "").story-link.pi-success-story
							img(src="/icons/png/icon-plus.png")
							h4.media-title!=partner_buffet.story.title
						.media-buffet-gradient

