mixin service-list(services, custom_ordering, industry)
	if custom_ordering
		if industry
			ul.industry-services-list.row
				each custom_ordered_service, c_index in industry.custom_ordered_services
					if c_index < 3
						each item, index in services
							if String(custom_ordered_service) == String(item._id)
								li
									a(href=linkURI('/services/'+item.slug+'/'+industry.slug) title=item.title).service-item.pi-home-services
										.service-icon.coxicon(class="coxicon_"+item.svg_icon)
										.solution-service-item.can-favorite(data-solutions-slug=item.slug data-solutions-type='services')
											.coxicon.coxicon.coxicon_favorites_star_after
										section.service-info
											h4.service-title=item.title
											p.service-description=item.description
											span.service-cta LEARN MORE
												img(src="/images/arrow_down.png")
				.industry-services-all-services(onclick="alterNavigationModalLinks('services', '"+industry.slug+"', false)")
					img(src="/images/arrow_down_gray.png")
					p See All
						br
						| Services
	else
		ul.services-list.row
			each item, index in services
				li.col-xs-12.col-md-3
					a(href=linkURI('/services/' + item.slug) title=item.title).service-item.pi-home-services
						.service-icon.coxicon(class="coxicon_"+item.svg_icon)
						section.service-info
							h4.service-title=item.title
							p.service-description=item.description
							span.service-cta LEARN MORE
								img(src="/images/arrow_down.png")


mixin service-list-companion(services, custom_ordering, industry)
		ul.services-list.row
			each custom_ordered_service, c_index in industry.custom_ordered_services
				if c_index < 3
					each item, index in services
						if String(custom_ordered_service) == String(item._id)
							li.col-xs-12.col-md-3
								a(href=linkURI('/services/' + item.slug) title=item.title).service-item.pi-home-services
									.service-icon.coxicon(class="coxicon_"+item.svg_icon)
									section.service-info
										h4.service-title=item.title
										p.service-description=item.description
										span.service-cta LEARN MORE
											img(src="/images/arrow_down.png")


mixin partner-service-list(services, custom_ordering, partner)
	if custom_ordering
		if partner
			ul.industry-services-list.row
				each custom_ordered_service, c_index in partner.custom_ordered_services
					if c_index < 3
						each item, index in services
							if String(custom_ordered_service) == String(item._id)
								li
									a(href=linkURI('/services/'+item.slug) title=item.title).service-item.pi-home-services
										.service-icon.coxicon(class="coxicon_"+item.svg_icon)
										.solution-service-item.can-favorite(data-solutions-slug=item.slug data-solutions-type='services')
											.coxicon.coxicon.coxicon_favorites_star_after
										section.service-info
											h4.service-title=item.title
											p.service-description=item.description
											span.service-cta LEARN MORE
												img(src="/images/arrow_down.png")
				.industry-services-all-services
					img(src="/images/arrow_down_gray.png")
					p See All
						br
						| Services
