mixin boolean(item)
	.checkbox
		label(for=item.field.path)
			if(data.current.get(item.field.path))
				input(type="checkbox" id=item.field.path name=item.field.path checked="checked").boolean
			else
				input(type="checkbox" id=item.field.path name=item.field.path).boolean
			=item.field.label	