mixin s3file(item)

	+validations(item.field.options.m_cms.maxLength)

	.form-group
		-url=data.current[item.field.path]['url']
		label=item.field.label
			+site-icons(item.field.options.m_cms)
		
		if(data.current[item.field.path]['exists'])
			.row
				.col-lg-4.col-md-4.col-sm-6
					img(src=url).img-responsive.img-thumbnail
		.row
			.col-lg-6.col-md-6
				//- input(type="hidden" name=item.field.path value=data.current[item.field.path]['url']).form-control
				input(type="file" name=item.field.path + '_upload' value=data.current[item.field.path]['url']).form-control
		p.help-block=item.field.options.note
			+printValidation()