mixin text-field(item)

	+validations(item.field.options.m_cms.validations)
	.form-group
		label=item.field.label
			+site-icons(item.field.options.m_cms)
		input(type="text" data-rules=item.field.options.m_cms.validations value=data.current.get(item.field.path) name=item.field.path).form-control.text-field.validate
		p.help-block=item.field.options.note
			+printValidation()