extends ../../layouts/default-showroom
//- Use the Showroom Default Template


//- Scenes (Navigation for Acts)
mixin scene(scene, scene_location)
	.scene(data-scene=scene.title class=scene_location data-scene-location=scene_location)
		img(src=assetURI(scene.featured_image.url)).scene-preview-featured-image
		h2.scene-preview-title= scene.title
			img(src="/images/arrow_down.png")

mixin scene_with_text(scene, scene_location)
	.scene(data-scene=scene.title class=scene_location data-scene-location=scene_location)
		.scene-preview-text
			h2.scene-preview-text-header= data.home.hero.business_count
			p.scene-preview-text-subtext
				span Businesses powered by
				img(src="/images/logo_blue.png")

		h2.scene-preview-title= scene.title
			img(src="/images/arrow_down.png")


//- Acts (Revealed when a Scene Item is clicked)
mixin act_factoid(scene, act)
	.act(data-act=scene.title).act-factoid
		each key, index in Object.keys(act).reverse()
			- var factoid = act[key]
			if factoid.factoid_enable
				.factoid(class="factoid-position-"+index).inactive-factoid
					.factoid-front(style="background-image: url("+assetURI(factoid.front_image.url)+");")
					.factoid-back(style="background-image: url("+assetURI(factoid.back_image.url)+");")

		button.btn.btn-default.act-close.factoid-close(type="button")
			img(src="/images/close.png")



mixin act_video(scene)
	.act(data-act=scene.title).act-video
		video(id="home_stage_default_video" class="video-js vjs-default-skin" width="inherit" height="inherit" controls preload="none" data-setup="{}")
			source(src=assetURI(data.home.hero.video.video.url) type='video/mp4')
		button.btn.btn-default.act-close.csf-content-close(type="button" data-video-close="home_stage_default_video")
			img(src="/images/close.png")

mixin act_map_overlay(scene, act)
	.act(data-act=scene.title).act-map
		.map-type-container(data-item='national')
			each key, index in Object.keys(act).reverse()
				- var map = act[key]
				if map.map_overlay_enable
					.map-overlay(data-item=map.title class= (index == 0 ? "active" : "") style= assetURI(map.map.url) ? "background-image: url(" + assetURI(map.map.url)+");" : "")
						h1.map-overlay-title= scene.title
						.map-overlay-related
							h3 Top Products
							- var productCount = 0;
							each product in map.products
								if productCount < 3
									a(data-related-service=product.services[0] data-product-id=product.id ).related-product-item
										span= product.title
									- productCount++
							.map-overlay-all-services
								img(src="/images/arrow_down_gray.png")
								p See All
									br
									| Services
			.dropdown.custom-dropdown.map-overlay-dropdown
				button(type="button" id="map_overlay_dropdown" data-toggle="dropdown" aria-expanded="true").btn.btn-default.dropdown-toggle
					.icon-arrow
						img(src="/images/arrow_down.png")
					span.custom-dropdown-current by Type
				ul.dropdown-menu(role="menu" aria-labelledby="dropdownMenu1")
					each key, index in Object.keys(act).reverse()
						- var map = act[key]
						if map.map_overlay_enable
							if index == 0
								li(role="presentation" data-navigationitem=map.title class="map-overlay-navitem").active
									a(role="menuitem" tabindex="-1")= map.title
							else
								li(role="presentation" data-navigationitem=map.title class="map-overlay-navitem")
									a(role="menuitem" tabindex="-1")= map.title
		.map-type-container(data-item='regional')
			.loading-animation-container
				+loadingAnimation
			each map, index in data.regional_maps
				.map-overlay(data-map-item=map.title data-map-asset=assetURI(map.map.url))
					h1.map-overlay-title= scene.title
					.map-overlay-related
						h3 Top Products
						- var productCount = 0;
						each product in map.products
							if productCount < 3
								a(data-related-service=product.services[0] data-product-id=product.id ).related-product-item
									span= product.title
								- productCount++
						.map-overlay-all-services
							img(src="/images/arrow_down_gray.png")
							p See All
								br
								| Services
			.dropdown.custom-dropdown.map-overlay-dropdown
				button(type="button" id="map_overlay_dropdown" data-toggle="dropdown" aria-expanded="true").btn.btn-default.dropdown-toggle
					.icon-arrow
						img(src="/images/arrow_down.png")
					span.custom-dropdown-current Location
				#regional_dropdown_outer
					ul.dropdown-menu.scrolling-dropdown#regional_dropdown(role="menu" aria-labelledby="dropdownMenu2")
						each map, index in data.regional_maps
							li(role="presentation" data-map-navigationitem=map.title class="map-overlay-navitem-regional")
								a(role="menuitem" tabindex="-1")= map.title
		.map-type-selection
			.map-type(data-navigationitem='national') National
			.map-type(data-navigationitem='regional') Regional

		button.btn.btn-default.act-close(type="button")
			img(src="/images/close.png")
mixin media_buffet_home_section(item, type)
	span.media_buffet_home_section(data-home-media-buffet=type)
		.media-tile-bottom-right
			- var media_section_one_thumbnail = assetURI(item.media_buffet.media_section_one.thumbnail.url) ? "background-image: url(" +assetURI(item.media_buffet.media_section_one.thumbnail.url)+");" : ""

			if item.media_buffet.media_section_one.type == 'Video' && assetURI(item.media_buffet.media_section_one.video.video.url)
				a(data-toggle="modal" data-target="#video_modal" data-title=item.media_buffet.media_section_one.title data-video-data=assetData(item.media_buffet.media_section_one.video)     style=media_section_one_thumbnail).video-link.pi-video
					img(src="/icons/png/icon-play.png")

			else if item.media_buffet.media_section_one.type == 'Image' && assetURI(item.media_buffet.media_section_one.image.url)
				a(data-toggle="modal" data-target="#image_modal" data-title=item.media_buffet.media_section_one.title data-image-data=assetData(item.media_buffet.media_section_one.image.url) style=media_section_one_thumbnail).image-link.pi-image
					img(src="/icons/png/icon-plus.png")

			else if item.media_buffet.media_section_one.type == 'Story' && assetURI(item.media_buffet.media_section_one.story.featured_image.url)
				a(data-toggle="modal" data-target="#story_modal" data-title=item.media_buffet.media_section_one.title data-story-data=assetData(item.media_buffet.media_section_one.story)     style=media_section_one_thumbnail).story-link.pi-success-story
					img(src="/icons/png/icon-plus.png")
			else
				a(style=media_section_one_thumbnail).remove-pointer
			h4.media-title!=item.media_buffet.media_section_one.title
			.media-buffet-gradient
		.values
			.values-container
				!= item.media_buffet.values.content
			h4.media-title!=item.media_buffet.values.title
		.media-tile-top-left
			- var media_section_two_thumbnail = assetURI(item.media_buffet.media_section_two.thumbnail.url) ? "background-image: url(" +assetURI(item.media_buffet.media_section_two.thumbnail.url)+");" : ""

			if item.media_buffet.media_section_two.type == 'Video' && assetURI(item.media_buffet.media_section_two.video.video.url)
				a(data-toggle="modal" data-target="#video_modal" data-title=item.media_buffet.media_section_two.title data-video-data=assetData(item.media_buffet.media_section_two.video)     style=media_section_two_thumbnail).video-link.pi-video
					img(src="/icons/png/icon-play.png")

			else if item.media_buffet.media_section_two.type == 'Image' && assetURI(item.media_buffet.media_section_two.image.url)
				a(data-toggle="modal" data-target="#image_modal" data-title=item.media_buffet.media_section_two.title data-image-data=assetData(item.media_buffet.media_section_two.image.url) style=media_section_two_thumbnail).image-link.pi-image
					img(src="/icons/png/icon-plus.png")

			else if item.media_buffet.media_section_two.type == 'Story' && assetURI(item.media_buffet.media_section_two.story.featured_image.url)
				a(data-toggle="modal" data-target="#story_modal" data-title=item.media_buffet.media_section_two.title data-story-data=assetData(item.media_buffet.media_section_two.story)     style=media_section_two_thumbnail).story-link.pi-success-story
					img(src="/icons/png/icon-plus.png")
			else
				a(style=media_section_two_thumbnail).remove-pointer
			h4.media-title!=item.media_buffet.media_section_two.title
			.media-buffet-gradient
block content
	.home-stage

		//- Factoids
		+scene(data.home.stage.scene_one, 'scene_location_1')
		+act_factoid(data.home.stage.scene_one, data.home.act.act_one)

		//- Video
		+scene_with_text(data.home.stage.scene_two, 'scene_location_2')
		+act_video(data.home.stage.scene_two)

		//- Map Overlay
		+scene(data.home.stage.scene_three, 'scene_location_3')
		//- - console.log(data.home.act.act_three.map_one)

		+act_map_overlay(data.home.stage.scene_three, data.home.act.act_three)

		.stage-background(style= data.home.stage_background ? "background-image: url(" + assetURI(data.home.stage_background.url)+");" : "")
		.stage-background-overlay
		.stage-background-shadow

	.row.home-menu
		.col-xs-12
			h3 Featured
			section(role="navigation").media-buffet-home
				ul.services-list
					each item, index in global_data.services
						li(data-home-service=item.slug)(data-assc-industries=item.industry_list): a(href=linkURI('/services/' + item.slug) title=item.title).service-item
							.service-icon.coxicon(class="coxicon_"+item.svg_icon)
							h4.service-title=item.title
				+media_buffet_home_section(data.home, 'default')
				each industry, index in global_data.industries
					+media_buffet_home_section(industry, industry.slug)
					
					
					
					

