include ../../mixins/admin/cms-mixins

extends ../../layouts/default-admin

block content
	.container
		h1="Map - " + data.current.title
		form(method='post', enctype='multipart/form-data')
			input(type='hidden', name='action', value='publish')
			input(type='hidden', name='slug', value=data.current.slug)
			input(type='hidden', name='key', value=data.model.key)

			.row
				.col-lg-8.col-md-8
					- var complexFields = []
					each item in data.model.uiElements
						+cms-field(item, complexFields)

				.col-xs-4
					.right-rail(data-spy="affix" data-offset-top="130")
						.admin-buttons
							p.help-block='Created On: ' + data.current._.createdAt.format('MMMM DD, YYYY h:mm:ss a')
							p.help-block='Last Edit: ' + data.current._.updatedAt.format('MMMM DD, YYYY h:mm:ss a')
							p.help-block='By: ' + data.current.updatedBy.name.full
							button(type="submit").btn.btn-primary.publish Publish
						.icon-key
							+site-icons-key()

block js
	if savedPreview
		script(type="text/javascript").
			var mode = !{JSON.stringify(previewMode)};
			var pathname = !{JSON.stringify(previewPath)}
		script(src='/js/site/previewlaunch.js')

