extends ../../layouts/default-admin

block content

	- var products = []
	- var titles = []
	- var service_ids = []
	each service in data.services
		if(titles.indexOf(service.title) < 0)
			- titles.push(service.title)
			- service_ids.push(service.id)
		- products[titles.indexOf(service.title)] = _.filter(data.productsList, function(product) { return product.services[0]['id'] == service.id; } )
		
	.container
		h1 Products

		each productGroup in products
			- var title = titles[products.indexOf(productGroup)]
			- var service_id = service_ids[products.indexOf(productGroup)]
			hr
			form(method="post").product-list
				input(type="hidden" name="action" value="reorder")
				input(type="hidden" name="service" value=title)
				input(type="hidden" name="service_id" value=service_id)
				select(name=title multiple).form-control
					each product in productGroup
						option(value=product.id selected="selected")=product.title
				.row
					.col-lg-6.col-md-6.col-sm-6
						h3=title
					.col-lg-6.col-md-6.col-sm-6
						button(type="button" data-edit-order=title).btn.btn-default Reorder
						button(type="submit").btn.btn-primary.save Publish
				.row
					.col-lg-12.col-md-12
						table(data-target-class=title + '-product-list' class=title + '-product-list').table.table-striped.table-hover.table-responsive.table-product-list
							thead
								tr
									th(width="10%")
									th Order
									each field in data.defaultColumns
										if(field.path != 'state')
											th=field.label
									th Service
							tbody
								each product in productGroup
									tr(data-id=product.id)
										each field in data.defaultColumns
											if(field.path != 'state')
												if(field.path == 'title')
													td
														span.glyphicon.glyphicon-move.pull-left
													td=product.order+1
													if(product.editor == undefined || product.editor.id == data.user)
														td
															a(href="/admin/products/"+product.slug)=product[field.path]
														td
															=product.services[0]['title']

													else
														td
															span.glyphicon.glyphicon-lock
															span=product[field.path]
														td
															=product.services[0]['title']
												else if(field.path == 'updatedAt')
													td=product._.updatedAt.format('MMMM DD, YYYY h:mm:ss a')
											//- a(href="/admin/services/"+service.slug) Edit
							
